/* Sidebar Container */
.sidebar {
  width: 214px;
  background-color: #e6e6e6;
  padding: 5px 8px;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  10px 0 20px 5px;
}

.sidebar-header .app-name {
  font-size: 18px;
  font-weight: bold;
}

.sidebar-header .version {
  font-size: 12px;
  color: #777;
}

/* Sidebar Menu */
.sidebar-menu {
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
}

/* Notification Count */
.notification-count {
  background-color: #007bff;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 5px;
}

/* Sidebar Item */
.sidebar-item {
  display: block;
  padding: 2px 6px;
  border-radius: 5px;
  color: #575757;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin: 2px 0;
  transition: all 0.3s ease;
}

.sidebar-item:hover {
  background-color: #e9ecef;
  color: #007bff;
  transform: scale(1.02);
}

/* Sidebar Title */
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #495057;
  transition: all 0.3s ease;
}

.sidebar-title:hover {
  color: #007bff;
  transform: scale(1.02);
}

.sidebar-title .dropdown-icon {
  transition: transform 0.3s ease;
}

.sidebar-item.open .dropdown-icon {
  transform: rotate(180deg);
}

/* Dropdown Content */
.sidebar-content {
  padding-left: 15px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
  opacity: 1;
}

/* Sub-items */
.sidebar-content .sidebar-item.plain {
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}

.sidebar-item.plain:hover {
  text-decoration: underline;
}

/* Icons */
.sidebar-item i,
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

/* Improved Responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    padding: 15px;
  }

  .sidebar-item {
    font-size: 13px;
    padding: 6px 10px;
  }

  .sidebar-title {
    font-size: 13px;
  }
}
